
.goods{
  margin: 30px auto;

  .el-breadcrumb{
    margin-bottom: 20px;

    .el-breadcrumb__inner a{
      font-weight: normal;
      color: #606266;
      &:hover{
        color: #FFBD00;
      }
    }
  }

  .map{
    position: relative;
    width: 230px;
    height: 230px;
    margin-left: 10px;
    border: 1px solid #e5e5e5;

    .map-wrap{
      width: 230px;
      height: 230px;
      background-image: url('https://s1.ax1x.com/2020/07/09/UmjowD.png');
      background-size: cover;
      box-shadow: 0 2px 10px rgba(0,0,0,.3);
    }
  }

  .isLike{
    margin-left: 10px;
    margin-top: 10px;
  }
}