.selector{
  display: inline-block;
  position: relative;
  margin: 0 10px 0 20px;


  .selector-container{
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    color: #666;

    i{
      margin-left: 80px;
    }
  }


  .show-list{
    height: 375px;
    background-color: #fff;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 45px;
    border: 1px solid #E5E5E5;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    padding: 20px 0 20px 15px;

    &::before,
    &::after{
      content: '';
      display: block;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      position: absolute;
      left: 30px;
    }

    &::before{
      border-bottom-color: #e5e5e5;
      top: -12px;
    }

    &::after{
      border-bottom-color: #fff;
      top: -10.5px;
    }

    .list-content{
      display: flex;
      flex-direction: column;
      // overflow: hidden;
      // flex-flow: wrap;
      flex-wrap: wrap;
      min-width: auto;
      height: 100%;
      li{
        width: 78px;
        height: 32px;
        line-height: 32px;
        font-size: 13px;
        color: #666;
        cursor: pointer;

        & > span{
          padding: 0 5px;
          border-radius: 10px;

          &:hover{
            background-color: #F4F4F4;
          }

          &.active{
            background-color: #FFBD00;
            color: #222;
          }
        }
      }
    }


    .title{
      font-size: 16px;
      color: #CCC;
      margin-bottom: 11px;
      height: 21px;
      line-height: 21px;
    }
  }
}